body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: white;
}
a {
  text-decoration: none;
  color: white;
  font-size: 50px;
  font-weight: bold;
  padding: 50px 100px;
  background: #009688;
  position: relative;
}
a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 15px;
  width: 100%;
  background: #00695c;
}

