body {
    font-family: Arial, Helvetica, sans-serif;
}
div {
    text-align: center;
    padding: 20px;
    background-color: #eee;
    font-size: 20px;
    border: 3px solid red;
}
div p {
    border: 3px solid;
    padding: inherit;
    border-color: inherit;
}
p {
    text-align: center;
}
.san {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-style: italic;
      font-size: 50px;
}
.ser {
      font-family: 'Cairo', sans-serif;
      font-weight: 700;
      font-size: 50px;
}
.saa {
      font-family: 'Jomhuria', cursive;
      font-weight: 400;
      font-size: 50px;
}